*,
*::before,
*::after {
  box-sizing: border-box;
}

body  {
  font-size: 14px;
  background-color: #fdfdfd;
  font-family: "Josefin Sans", sans-serif;
}

#lead  {
  font-size: 18px;
  background-color: black;
  font-family: "Josefin Sans", sans-serif;
}

header {
  text-align: center;
  color: rgb(7, 7, 7);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  font-size: 3.5em;
}

.jumbotron {
  padding: 20px;
  /* max-width: 65%;
  max-height: 80%; */
  margin: 10px auto;
  color: rgb(248, 241, 241);
  user-select: none;
  background-color: black;
  
}
.quiz {
  padding: 0px;
  max-width: 100%;
  max-height: 100%;
  margin: 0px auto;
  color: rgb(248, 241, 241);
  user-select: none;
  background-color: black;
  
}

.answers {
  font-size: 25px;
  text-align: center;
  color: rgb(250, 248, 248);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.questions {
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
  color: rgb(252, 5, 5);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.time {
  height: 100%;
  width: 100%;
  margin: 0px;
  color: red;
  background-color: rgb(255, 255, 255);
   position: relative;
}

#score {
  font-size: 3em;
  float: inherit;
  color: crimson;
}

#seconds {
    font-size: 3em;
    float: inherit;
    color: crimson;
  }
  button {
    height: 90px;
    width: 90px;
    margin: 0px;
    margin-top: 0px;
    border-radius: 100%;
    font-size: 3em;
    background-color: rgb(7, 7, 7);
    border: none;
    color: #fdfdfd;
    cursor: cell;
    text-align: center;
  }
  .quizbutton {
    height: 50px;
    width: 50px;
    margin: 5px;
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 100%;
    font-size: 1em;
    background-color: crimson;
    border: none;
    color: #fdfdfd;
    cursor: cell;
    text-align: center;
  }

  #ansMsg  {
    padding-top: 10px;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    color: rgb(3, 3, 3);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  /* .calm-cage {
    visibility: hidden;
    position: fixed;
    bottom: -50px;
    /* top: 10px; */
    /* left: 50px;
    width: 200px;
    height: 200px;
    background-image: url("../Assets/calm-cage.png");
    padding: 20px;
    color: #fff; */
    /* border: 0px solid #444;
    border-left: 1px solid #444;
    border-right: 1px solid #111;
    border-bottom: 1px solid #111; */
    /* box-sizing: border-box;
  } */ 

    .curious-cage {
      visibility: hidden;
      position:  fixed;
      right: 1100px;
      bottom: 10px;
      z-index: -1;
    }
      .calm-cage {
        width: 400px;
        height: 400px;
        visibility: hidden;
        position: fixed;
        right: -50px;
        bottom: 0px;
        z-index: 1;
      }

      .proud-cage {
        width: 300px;
        height: 200px;
        visibility: hidden;
        position: fixed;
        left: 800px;
        bottom: 0px;
        z-index: 1;
      }

      .sweaty-cage {
        width: 300px;
        height: 300px;
        visibility: hidden;
        position: fixed;
        left: 400px;
        bottom: 0px;
        z-index: 2;
      }

      .toothy-cage {
        width: 300px;
        height: 300px;
        visibility: hidden;
        position: fixed;
        left: 100px;
        bottom: 0px;
        z-index: 1;
      }
      .upside-cage {
        width: 300px;
        height: 300px; 
        visibility: hidden;
        position: fixed;
        left: 20px;
        top: 0px;
        z-index: 1;
      }
      .end-cage1 {
        width: 400px;
        height: 400px; 
        visibility: hidden;
        position: fixed;
        left: 20px;
        top: 0px;
        z-index: -1;
      }

      #endCages
      {
        visibility: hidden;
      }