*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #e8eaed;
  background-color: rgb(255, 255, 255);
}

h2 {
  font-size: 3em;
  margin: 0px;
  margin-top: 0.45em;
  margin-bottom: 0em;
  text-align: center;
}
header {
  text-align: center;
  font-size: 3em;
  color: crimson;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: black;

}

button {
  background-color: crimson;
  border-radius: 8px;
  color: #black;
  cursor: pointer;
  font-size: 2em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px 32px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
  float: right;
}

button:hover {
  background-color: #f9fcfd;
  color: crimson;
  font-weight: bolder;
}

.input-group {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2em;
}

label {
  color: crimson;
}

input {
  background-color: #d4d1d1;
  border-radius: 2px;
  border-width: 0;
  color: crimson;
  font-size: 1em;
  height: 45px;
  line-height: 20px;
  margin: 0;
  margin-top: 10px;
  max-width: 100%;
  padding: 8px 8px 8px 8px;
  transition-delay: 0s, 0s;
  transition-duration: 0.2s, 0.2s;
  transition-property: background-color, color;
  transition-timing-function: ease, ease;
  vertical-align: middle;
  width: 100%;
}

input:hover {
  background-color: #e8eaed;
}
.hscard {
  align-content: center;
  background-color: rgb(0, 0, 0);
  border: 1px dashed #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
  margin: 2%;
  margin-top: 10px;
  padding: 20px;
  width: 90%;
  overflow: hidden;
  position: inherit;
  float: center;
  color: crimson;
}

.card {
  align-content: center;
  background-color: rgb(0, 0, 0);
  border: 1px dashed #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
  margin: 2%;
  margin-top: 10px;
  padding: 20px;
  width: 60%;
  overflow: hidden;
  position: inherit;
  float: center;
  color: crimson;
}

.card::after {
  content: " ";
  display: block;
  clear: both;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

#msg {
  visibility: hidden;
  margin-top: 20px;
  font-weight: 700;
  height: 1.2em;
  font-size: 1.2em;
}

#msg.success,
#msg.error {
  visibility: visible;
}

#user-initials,
 #user-highscore {
  color: #fdfffd;
  font-size: 2em;
}

#msg.success {
  color: #fdfffd;
  font-size: larger;
}

#msg.error {
  color: #e6252c;
}

.correct-cage {
  visibility: visible;
  position: relative;
  align-content: left;
  /* right: 300px;
  top: 0px; */
  z-index: 2;
}